@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  padding: 2rem;
  font-weight: 300;
  line-height: 3;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-content: center; }
  @media only screen and (max-width: 37.5em) {
    body {
      line-height: 2;
      padding: 0; } }

.icon {
  font-size: 0.5rem;
  fill: #729787; }

.login-page {
  padding: 5rem 10rem;
  border-radius: 3rem;
  height: 70vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1rem 1rem 10rem #026b3e52;
  overflow-y: scroll; }

a {
  text-decoration: none; }

.textt {
  margin-top: -1rem; }

.variant {
  text-align: center;
  font-weight: 500; }

.top-nav {
  display: flex;
  justify-content: space-between; }
  .top-nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; }

.welcome-text {
  color: #447f66;
  letter-spacing: 0.5rem;
  text-align: center;
  font-size: 4rem; }

.login {
  display: flex;
  flex-direction: column;
  font-family: inherit; }

.input-field {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #447f66;
  border: 1px solid #2f7557;
  border-radius: 5px; }
  .input-field:active, .input-field:focus {
    border: 1px solid #2f7557; }
  .input-field::-webkit-input-placeholder {
    color: #2f7557; }

.login-icon {
  fill: #2f7557;
  margin-left: 1rem; }

.login-buttons-container {
  display: flex;
  justify-content: space-between; }

.login-button {
  cursor: pointer;
  width: 87%;
  font-size: 1.6rem;
  font-family: inherit;
  margin: 2rem 0 0;
  padding: 1rem 0;
  color: #2f7557;
  background-color: rgba(6, 158, 145, 0.479);
  border-radius: 0.5rem;
  border: 1px solid grey;
  box-shadow: 0.1rem 0.1rem 20rem #729787af;
  transition: transform 0.5s ease-out; }
  .login-button:hover {
    transform: translateY(-0.2rem); }
  .login-button:active {
    transform: translateY(0); }

.login-2 {
  cursor: pointer;
  margin: 2rem 0 0;
  padding-right: 1rem;
  background-color: rgba(6, 158, 145, 0.479);
  border-radius: 0.5rem;
  border: 1px solid grey;
  box-shadow: 0.1rem 0.1rem 20rem #729787af;
  transition: transform 0.5s ease-out; }
  .login-2:hover {
    transform: translateY(-0.2rem); }
  .login-2:active {
    transform: translateY(0); }

.login-cta__container {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem; }

.login-cta__options {
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.1s; }
  .login-cta__options:hover {
    text-decoration: underline;
    transform: scale(1.03); }

.login__link {
  color: #242323;
  font-size: 1.5rem;
  margin-left: 2rem;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: rgba(24, 114, 107, 0.479); }

.login--footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.1s;
  line-height: 1; }
  .login--footer > p {
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem; }
    .login--footer > p:hover {
      text-decoration: underline;
      transform: scale(1.03); }

.privacy {
  color: #3b3b3b;
  text-decoration: underline;
  letter-spacing: 0.1rem;
  text-decoration-color: rgba(24, 114, 107, 0.479);
  margin-top: -2rem; }

.container {
  transition: all 1s;
  width: 50rem;
  position: relative; }

.location-icon {
  border-radius: 50%;
  padding: 0.24rem;
  fill: white;
  background-color: #447f66; }

body {
  transition: all 1s ease-in; }

.main {
  animation: moveInRight 0.5s ease-in;
  backface-visibility: hidden;
  overflow-y: scroll; }

body {
  position: relative;
  z-index: 100; }

.nav {
  background-color: #447f66;
  padding: 1rem 5rem 5rem 3rem;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  animation: moveInLeft 1s ease-out;
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  opacity: 0;
  z-index: 1500; }
  .nav__list {
    list-style: none; }
  .nav__item {
    padding: 1rem 0; }
  .nav__link {
    text-decoration: none;
    padding-left: 1rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #026b3e52; }
    .nav__link:hover, .nav__link:active {
      box-shadow: 0 0.01rem 2rem rgba(0, 0, 0, 0.4);
      transform: scale(1.03); }
  .nav__icon {
    fill: white;
    margin-right: 1rem; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #72978762;
  backdrop-filter: blur(3px);
  z-index: 1200; }

.hidden {
  display: none !important; }

.home-page {
  border: 1px solid #026b3e52;
  padding: 1rem 2rem 0;
  border-radius: 2rem; }
  .home-page__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(207, 206, 206, 0.349); }
    .home-page__nav--icon {
      fill: #2f7557; }

.actionbar {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .actionbar__container {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #026b3e52;
    border-bottom: 1px solid #026b3e52; }
  .actionbar__icon {
    fill: rgba(6, 158, 145, 0.479);
    border-radius: 50%;
    border: 1.5px solid #2f7557;
    padding: 0.5rem; }
  .actionbar__text {
    margin-top: -0.5rem;
    color: #313030; }

.active-header {
  color: #447f66; }

.display-greetings-bar {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 1rem 1rem;
  line-height: 1.2; }

.greetings {
  font-size: 2.2rem; }

.balance__container {
  background-color: rgba(6, 158, 145, 0.479);
  width: 70%;
  font-size: 1.8rem;
  padding: 2rem 2rem 2rem;
  border-radius: 2rem;
  color: #fff;
  text-shadow: 10rem 10rem 10rem red;
  margin: 0 auto 2rem; }

.statistics__content {
  display: flex;
  justify-content: center; }

.incomplete__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.index-page {
  color: #2f7557; }

@media only screen and (max-width: 37.5em) {
  .login-page {
    padding: 1rem;
    border-radius: 0;
    height: 100vh;
    margin-top: 1rem;
    box-shadow: none; }
  .top-nav__item {
    line-height: 3; }
  .welcome-text {
    color: #447f66;
    letter-spacing: 0.1rem;
    font-size: 4rem;
    margin: 2rem 0 1rem; }
  .login {
    margin: 2rem 0; }
  .login-button {
    width: 85%; }
  .login--footer {
    margin: 2rem 0 0; }
  .location-icon {
    border-radius: 50%;
    padding: 0.24rem;
    fill: white;
    background-color: #447f66; }
  .main {
    width: 100%; }
  .container {
    transition: all 1s;
    width: 100%;
    margin: 0 1rem 1rem 0; }
  .nav {
    width: 80%; }
  .home-page {
    border: none;
    height: 100vh;
    padding: 0 0 0 1rem;
    border-radius: 0; }
    .home-page__nav {
      margin: 0 0 2rem;
      padding: 1rem 1rem 0 0; }
      .home-page__nav--icon {
        fill: #2f7557; }
  .actionbar {
    margin: 0; }
    .actionbar__container {
      row-gap: 1rem;
      margin: 1rem 0 2rem; }
    .actionbar__icon {
      fill: rgba(6, 158, 145, 0.479);
      border-radius: 50%;
      border: 1.5px solid #2f7557;
      padding: 0.5rem; }
    .actionbar__text {
      margin-top: -0.5rem; }
  .display-greetings-bar {
    padding: 1rem 0 2rem 1rem; }
  .greetings {
    font-size: 2rem; }
  .balance__container {
    padding: 1rem 2rem 2rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; } }

.heading-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  color: #2f7557;
  font-weight: 600; }

.signup {
  display: flex;
  flex-direction: column;
  font-family: inherit; }
  .signup-container {
    border: 1px solid #729787;
    padding: 2rem 5rem 5rem;
    border-radius: 5rem;
    margin-top: 5rem;
    width: 50rem; }

.form-input,
.account-details {
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 0 1rem 0.5rem;
  color: rgba(24, 114, 107, 0.479);
  border-radius: 0.5rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid #2f7557; }
  .form-input:active, .form-input:focus,
  .account-details:active,
  .account-details:focus {
    border: 1px solid #2f7557; }
  .form-input::-webkit-input-placeholder,
  .account-details::-webkit-input-placeholder {
    color: rgba(24, 114, 107, 0.479); }

.our__logo {
  margin-right: 1.5rem; }

.signup__option {
  padding: 0 0.5rem 0 0;
  display: flex;
  justify-content: space-between; }

#account-type {
  border: none;
  background-color: inherit;
  color: #447f66;
  font-size: 1.6rem;
  margin-right: 2rem;
  color: inherit; }
  #account-type:focus, #account-type:active {
    border: none; }

.signup-button {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 2rem;
  font-family: inherit;
  margin: 2rem auto 0;
  color: #2f7557;
  background-color: rgba(6, 158, 145, 0.479);
  border-radius: 0.5rem;
  border: 1px solid grey;
  box-shadow: 0.1rem 0.1rem 20rem #729787af;
  transition: transform 0.5s ease-out; }
  .signup-button:hover {
    transform: translateY(-0.2rem); }
  .signup-button:active {
    transform: translateY(0); }

.transfer__container {
  border: 1px solid #026b3e52;
  height: 95vh;
  padding: 0 5rem 0;
  border-radius: 2rem;
  position: relative;
  width: 50rem;
  overflow: hidden;
  background: radial-gradient(#53ac87f1, 60%, #236b4dd0); }

.info-header {
  text-transform: uppercase;
  color: white;
  line-height: 2;
  font-size: 2.2rem;
  margin: 0 auto 3rem; }

.pin-box__container {
  padding: 1rem 2rem 3rem;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: radial-gradient(#53ac87f1, 60%, #236b4dd0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500; }

.transfer-page__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(207, 206, 206, 0.349);
  position: absolute;
  z-index: 1000;
  width: 100%;
  right: 0;
  background-color: white;
  margin: 0;
  padding: 0 2rem 0 1rem; }

.create-pin {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s; }

.pin {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid rgba(24, 114, 107, 0.479);
  border-radius: 5px;
  box-shadow: 0 0.01rem 10rem rgba(0, 0, 0, 0.4); }
  .pin:active, .pin:focus {
    border: 1px solid rgba(24, 114, 107, 0.479); }
  .pin::-webkit-input-placeholder {
    color: #363434; }

.setpin-button {
  margin: 4rem 0 0;
  width: 65%;
  height: 4rem;
  font-family: inherit;
  background: linear-gradient(to bottom right, #4bc59279, rgba(6, 158, 145, 0.479));
  border: none;
  border-radius: 3px;
  box-shadow: 0 0.01rem 2rem rgba(0, 0, 0, 0.4);
  transition: all 1s;
  color: whitesmoke;
  font-size: 1.7rem;
  cursor: pointer; }
  .setpin-button:hover {
    transform: translateY(-0.2rem); }
  .setpin-button:active {
    transform: translateY(0); }

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  /* IN THE END */ }

.transfer {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* THIS creates the animation! */
  transition: transform 1s; }

.transfer-link {
  color: white; }

.transfer__headings {
  margin-bottom: 5rem; }

.transfer-type__option {
  display: flex;
  line-height: normal; }

.transfer__icons {
  fill: white;
  border: 1px solid wheat;
  border-radius: 50%;
  padding: 0.1rem;
  background-color: #b2855177;
  margin-right: 1rem; }

.beneficiary-card {
  border: 1px solid wheat;
  background-color: rgba(4, 58, 53, 0.089);
  padding: 2rem 10rem 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: wheat;
  font-size: 2rem;
  box-shadow: 0.5rem 0.1rem 10rem rgba(8, 8, 8, 0.322); }

.transfer__heading-guide {
  color: rgba(122, 4, 43, 0.699); }

.transfer-info__container {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem; }

.transfer-label {
  margin-bottom: 2rem; }

.transfer-info__detail {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid wheat; }

.name-box {
  border: 1px solid wheat;
  width: 80%;
  margin: 0 auto 1rem;
  text-align: center;
  border-radius: 5px; }

.send-money-1 {
  margin: 4rem auto 0;
  width: 65%;
  height: 4rem;
  font-family: inherit;
  background: linear-gradient(to bottom right, #4bc59279, rgba(6, 158, 145, 0.479));
  border: none;
  border-radius: 3px;
  box-shadow: 0 0.01rem 2rem rgba(0, 0, 0, 0.4);
  transition: all 1s;
  color: whitesmoke;
  font-size: 1.7rem;
  cursor: pointer; }
  .send-money-1:hover {
    transform: translateY(-0.2rem); }
  .send-money-1:active {
    transform: translateY(0); }

.transfer-page4 {
  line-height: 3; }

.confirm__container {
  min-width: 95%;
  color: white; }

.confirm__info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid wheat; }

.validator {
  margin: 3rem auto 0;
  color: white; }

.action__buttons {
  display: flex;
  justify-content: center; }

#confirm-pin {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(207, 206, 206, 0.726);
  width: 10rem;
  margin-left: 1rem; }
  #confirm-pin:focus, #confirm-pin:active {
    border: none; }

.confirm-transfer {
  width: 70%;
  height: 4rem;
  font-family: inherit;
  background: rgba(6, 158, 145, 0.479);
  border: none;
  border-radius: 3px;
  box-shadow: 0 0.01rem 2rem rgba(0, 0, 0, 0.4);
  transition: all 1s;
  color: whitesmoke;
  font-size: 1.7rem;
  cursor: pointer; }
  .confirm-transfer:hover {
    transform: translateY(-0.2rem); }
  .confirm-transfer:active {
    transform: translateY(0); }

.confirm-with-fingerprint {
  border: none;
  text-align: center;
  background-color: transparent;
  width: 30%; }

.confirm-fingerprint-icon {
  fill: white;
  border-radius: 5px;
  margin-left: 1rem;
  background-color: rgba(6, 158, 145, 0.479);
  box-shadow: 0 0.01rem 2rem rgba(0, 0, 0, 0.4);
  height: 4rem;
  width: 100%;
  padding: 0.2rem 0.1rem; }

.cancel-transfer {
  display: block;
  margin: 4rem auto 0;
  width: 70%;
  height: 4rem;
  font-family: inherit;
  background: #ec0b1d91;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0.01rem 2rem rgba(0, 0, 0, 0.4);
  transition: all 1s;
  color: whitesmoke;
  font-size: 1.7rem;
  cursor: pointer; }
  .cancel-transfer:hover {
    transform: translateY(-0.2rem); }
  .cancel-transfer:active {
    transform: translateY(0); }

.successful-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.successful-icon {
  border-radius: 50%;
  border: 3px solid rgba(6, 158, 145, 0.479);
  padding: 0.2rem;
  fill: white; }

.successful-text {
  color: white;
  font-size: 2rem;
  text-transform: uppercase; }

@media only screen and (max-width: 37.5em) {
  .transfer__container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    left: 0;
    border: none;
    border-radius: 0; }
  .transfer-page__nav {
    width: 100%;
    left: 0;
    margin: 0;
    padding: 1rem 2rem 1rem 1rem; } }

.heading__tertiary {
  font-family: "Saira Condensed", sans-serif;
  text-transform: uppercase; }

.transfer-heading {
  color: white;
  text-transform: uppercase;
  margin-bottom: 3rem;
  margin-top: 1rem; }
