.balance__container {
  background-color: $color-secondary;
  width: 70%;
  font-size: 1.8rem;
  padding: 2rem 2rem 2rem;
  border-radius: 2rem;
  // color: rgb(91, 34, 105);
  color: #fff;
  text-shadow: 10rem 10rem 10rem red;
  margin: 0 auto 2rem;
}

.balance-heading {
  color: red;
}

@media only screen and (max-width: 37.5em) {
  .balance__container {
    padding: 1rem 2rem 2rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
