//COLOR VARIABLES
$color-primary: #447f66;
$color-primary-light: #729787;
$color-primary-dark: #2f7557;

$color-whitish-green: #026b3e52;

$color-brown: #884d0496;
$color-brown-light: #b28451;
// $color-secondary: #be9039e3;

// $color-secondary: rgba(4, 53, 49, 0.301);
$color-secondary: rgba(6, 158, 145, 0.479);
$color-secondary-dark: rgba(24, 114, 107, 0.479);

$color-red: rgba(235, 31, 109, 0.753);

$color-black: #000;

//GLOBAL SETTINGS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 2rem;
  font-weight: 300;
  height: 100vh;
  line-height: 3;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  // display: flex;
  // // justify-content: center;
  // justify-content: space-evenly;
  // align-content: center;
  //   font-family: 'Marcellus', serif;
  // font-family: 'Saira Condensed', sans-serif;

  @media only screen and (max-width: 37.5em) {
    line-height: 2;
    padding: 0;
  }
}

.icon {
  font-size: 0.5rem;
  fill: $color-primary-light;
}
