.bill__icon {
  width: 2rem;
  margin-right: 1rem;
}

.bills__container {
  width: 100vw;
  height: 100vh;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  overflow: scroll;
  position: relative;
}

.bills {
  &__list {
    list-style: none;
    width: 90%;
    position: absolute;
    top: 6rem;
  }

  &__item {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $color-whitish-green;
  }

  &__link {
    text-decoration: none;
    padding-left: 1rem;
    color: white;
    font-size: 1.5rem;

    &:hover,
    &:active {
      box-shadow: 0 0.01rem 2rem rgba($color-black, 0.4);
      transform: scale(1.03);
    }
  }
}

.bills-page__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(207, 206, 206, 0.349);
  position: absolute;
  z-index: 1000;
  width: 100%;
  right: 0;
  top: 0;
  background-color: white;
  margin: 0;
  padding: 0 2rem 0 1rem;
}

@media only screen and (min-width: 37.5em) {
  .bills__container-main {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .bills__container {
    position: absolute;
    max-width: 50rem;

    // top: 0;
    // left: 0;
    // transform: translate(100%, 0);
  }
  .bills__list {
    top: 8rem;
  }
}
