// .balance-enquiry__container {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding-top: 3rem;
// }

// .balance__container {
//   background-color: $color-primary;
//   width: 70%;
//   font-size: 1.8rem;
//   padding: 3rem 2rem 3rem;
//   border-radius: 2rem;
//   color: #fff;
//   text-shadow: 10rem 10rem 10rem red;
//   margin: 0 auto 2rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 15rem;
// }

// .balance-heading {
//   color: $color-primary-dark;
//   margin-bottom: 2rem;
// }

// @media only screen and (min-width: 37.5em) {
//   .balance-enquiry__container {
//     width: 80%;
//     margin: 0 auto;
//   }

//   .balance__container {
//     padding: 2rem;
//     height: 20rem;
//   }
// }

.history-container {
  border: 1px solid $color-whitish-green;
  height: 95vh;
  padding: 0 2rem 0;
  border-radius: 2rem;
  position: relative;
  width: 50rem;
  overflow: hidden;
  margin: 0 auto;
}

.display-header {
  position: absolute;
  top: 8%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance {
  font-size: 3rem;
}

/* MOVEMENTS */
.movements {
  position: absolute;
  top: 17%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 1rem;
}

.movements__row {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  background-color: rgb(245, 244, 244);
  padding: 1.2rem;
  border-radius: 50%;
  display: flex;
  margin-right: 2rem;
}

.movements__info {
  line-height: 2;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
  font-weight: bold;
}

.deposit-value {
  color: $color-primary;
}

.withdraw-value {
  color: $color-red;
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

@media only screen and (max-width: 37.5em) {
  .history-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    left: 0;
    border: none;
    border-radius: 0;
  }
}
