.login-page {
  padding: 5rem 10rem;
  border-radius: 10rem;
  height: 70vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1rem 1rem 10rem $color-whitish-green;

  //after successful login, it should disappear

  opacity: 0;
  display: none;
}
a {
  text-decoration: none;
}

.textt {
  margin-top: -1rem;
}

.variant {
  text-align: center;
  font-weight: 500;
}

.top-nav {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
}

.welcome-text {
  color: $color-primary;
  letter-spacing: 0.5rem;
  text-align: center;
  font-size: 4rem;
}

.login {
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

.input-field {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: $color-primary;
  border: 1px solid $color-primary-dark;
  border-radius: 5px;

  &:active,
  &:focus {
    border: 1px solid $color-primary-dark;
  }

  &::-webkit-input-placeholder {
    color: $color-primary-dark;
  }
}

.login-icon {
  fill: $color-primary-dark;
  margin-left: 1rem;
}

.login-button,
.login-2 {
  cursor: pointer;
  width: 50%;
  font-size: 1.6rem;
  font-family: inherit;
  margin: 2rem auto 0;
  padding: 0.7rem 0 1rem;
  color: $color-primary-dark;
  background-color: $color-secondary;
  border-radius: 0.5rem;
  border: 1px solid grey;
  box-shadow: 0.1rem 0.1rem 20rem #729787af;
  transition: transform 0.5s ease-out;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &:active {
    transform: translateY(0);
  }
}

.login-2 {
  margin: 0 auto 2rem;
  padding: 0.5rem 0 1rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-cta {
  &__container {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  &__options {
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      text-decoration: underline;
      transform: scale(1.03);
    }
  }
}

.login__link {
  color: black;
  font-size: 1.5rem;
}

.login--footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.1s;

  & > p {
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;

    &:hover {
      text-decoration: underline;
      transform: scale(1.03);
    }
  }
}

.container {
  transition: all 1s;
  width: 50rem;
  position: relative;
}

.location-icon {
  border-radius: 50%;
  padding: 0.24rem;
  fill: white;
  background-color: $color-primary;
}

// .main {
//   display: none;
//   opacity: 0;
// }

body {
  position: relative;
  z-index: 100;
}

.nav {
  background-color: $color-primary;
  padding: 3rem 5rem 5rem 3rem;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  animation: moveInLeft 1s ease-out;
  position: absolute;
  top: 0;
  width: 65%;
  height: 100%;
  opacity: 0;
  z-index: 1000;

  &__list {
    list-style: none;
  }

  &__item {
    padding: 1rem 0;
  }

  &__link {
    text-decoration: none;
    padding-left: 1rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $color-whitish-green;

    &:hover,
    &:active {
      box-shadow: 0 0.01rem 2rem rgba($color-black, 0.4);
      transform: scale(1.03);
    }
  }

  &__icon {
    fill: white;
    margin-right: 1rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #72978762;
  backdrop-filter: blur(3px);
  z-index: 200;
}

.hidden {
  display: none;
}

.home-page {
  border: 1px solid $color-whitish-green;
  height: 95vh;
  padding: 3rem 5rem 0;
  border-radius: 5rem;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--icon {
      fill: $color-primary-dark;
    }
  }
}

.actionbar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid $color-whitish-green;
    border-bottom: 1px solid $color-whitish-green;
  }

  &__icon {
    fill: $color-secondary;
    border-radius: 50%;
    border: 1.5px solid $color-primary-dark;
    padding: 0.5rem;
  }

  &__text {
    margin-top: -0.5rem;
  }
}

.active-header {
  color: $color-primary;
}

.display-greetings-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 1rem;
  line-height: 1.2;
}

.greetings {
  font-size: 2rem;
}

.balance__container {
  background-color: $color-red;
  width: max-content;
  font-size: 1.8rem;
  padding: 1rem 2rem 2rem;
  border-radius: 2rem;
  // color: rgb(91, 34, 105);
  color: #fff;
  text-shadow: 10rem 10rem 10rem red;
  margin: 0 auto 2rem;
}

.statistics__content {
  display: flex;
  justify-content: center;
}

// Styles for the incomplete page
.incomplete__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.index-page {
  color: $color-primary-dark;
}

@media only screen and (max-width: 37.5em) {
  .login-page {
    padding: 1rem;
    border-radius: 0;
    height: 100vh;
    margin-top: 1rem;

    box-shadow: none;
  }

  .welcome-text {
    color: $color-primary;
    letter-spacing: 0.1rem;
    font-size: 4rem;
    margin: 2rem 0 1rem;
  }

  .login {
    margin: 2rem 0;
  }

  .login-icon {
    margin-left: 0.5rem;
  }

  .login-button,
  .login-2 {
    width: 80%;
  }

  .login-2 {
    margin: 0 auto 2rem;
    width: 80%;
  }

  .login-cta {
    &__container {
      justify-content: space-between;
    }
  }

  .login--footer {
    margin: 2rem 0 0;
  }

  .location-icon {
    border-radius: 50%;
    padding: 0.24rem;
    fill: white;
    background-color: $color-primary;
  }

  .main {
    width: 100%;
  }

  .container {
    transition: all 1s;
    width: 100%;
    margin: 0 1rem 1rem 0;
  }

  // .nav {
  //   opacity: 0;
  // }

  .home-page {
    border: none;
    height: 100vh;
    padding: 0 0 0 1rem;
    border-radius: 0;

    &__nav {
      margin: 0 0 2rem;
      padding: 1rem 1rem 0 0;

      &--icon {
        fill: $color-primary-dark;
      }
    }
  }

  .actionbar {
    margin: 0;

    &__container {
      row-gap: 1rem;
      margin: 1rem 0 2rem;
    }

    &__icon {
      fill: $color-secondary;
      border-radius: 50%;
      border: 1.5px solid $color-primary-dark;
      padding: 0.5rem;
    }

    &__text {
      margin-top: -0.5rem;
    }
  }

  .active-header {
    color: $color-primary;
  }

  .display-greetings-bar {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 1rem;
    line-height: 1.2;
  }

  .greetings {
    font-size: 2rem;
  }

  .balance__container {
    background-color: $color-red;
    width: max-content;
    font-size: 1.8rem;
    padding: 1rem 2rem 2rem;
    border-radius: 2rem;
    // color: rgb(91, 34, 105);
    color: #fff;
    text-shadow: 10rem 10rem 10rem red;
    margin: 0 auto 2rem;
  }

  .statistics__content {
    display: flex;
    justify-content: center;
  }

  // Styles for the incomplete page
  .incomplete__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .index-page {
    color: $color-primary-dark;
  }
}
