.heading-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  color: $color-primary-dark;
  font-weight: 600;
}

.signup {
  display: flex;
  flex-direction: column;
  font-family: inherit;

  &-container {
    border: 1px solid $color-primary-light;
    padding: 2rem 5rem 5rem;
    border-radius: 5rem;
    margin-top: 5rem;
    width: 50rem;
  }
}

.form-input,
.account-details {
  font-size: 1.6rem;
  font-family: inherit;

  padding: 1rem 0 1rem 0.5rem;
  color: $color-secondary-dark;
  border-radius: 0.5rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid $color-primary-dark;

  &:active,
  &:focus {
    border: 1px solid $color-primary-dark;
  }

  &::-webkit-input-placeholder {
    color: $color-secondary-dark;
  }
}

.our__logo {
  margin-right: 1.5rem;
}

.signup__option {
  padding: 0 0.5rem 0 0;
  display: flex;
  justify-content: space-between;
}

#account-type {
  border: none;
  background-color: inherit;
  color: $color-primary;
  font-size: 1.6rem;
  margin-right: 2rem;
  color: inherit;

  &:focus,
  &:active {
    border: none;
  }
}

.signup-button {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 2rem;
  font-family: inherit;
  margin: 2rem auto 0;
  color: $color-primary-dark;
  background-color: $color-secondary;
  border-radius: 0.5rem;
  border: 1px solid grey;
  box-shadow: 0.1rem 0.1rem 20rem #729787af;
  transition: transform 0.5s ease-out;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &:active {
    transform: translateY(0);
  }
}
