.transfer__container {
  border: 1px solid $color-whitish-green;
  height: 95vh;
  padding: 0 5rem 0;
  border-radius: 2rem;
  position: relative;
  width: 50rem;
  overflow: hidden;
  background: radial-gradient(#53ac87f1, 60%, #236b4dd0);
  margin: 0 auto;
}

.info-header {
  text-transform: uppercase;
  color: white;
  line-height: 2;
  font-size: 2.2rem;
  margin: 0 auto 3rem;
}

.pin-box__container {
  //   border: 1px solid $color-whitish-green;
  padding: 1rem 2rem 3rem;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: radial-gradient(#53ac87f1, 60%, #236b4dd0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.transfer-page__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(207, 206, 206, 0.349);
  position: absolute;
  z-index: 1000;
  width: 100%;
  right: 0;
  background-color: white;
  margin: 0;
  padding: 0 2rem 0 1rem;
}

.create-pin {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
}

.pin {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid $color-secondary-dark;
  border-radius: 5px;
  box-shadow: 0 0.01rem 10rem rgba($color-black, 0.4);

  &:active,
  &:focus {
    border: 1px solid $color-secondary-dark;
  }

  &::-webkit-input-placeholder {
    color: rgb(54, 52, 52);
  }
}

.setpin-button {
  margin: 4rem 0 0;
  width: 65%;
  height: 4rem;
  font-family: inherit;
  background: linear-gradient(to bottom right, #4bc59279, $color-secondary);
  border: none;
  border-radius: 3px;
  box-shadow: 0 0.01rem 2rem rgba($color-black, 0.4);
  transition: all 1s;
  color: whitesmoke;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &:active {
    transform: translateY(0);
  }
}

.slider {
  // max-width: 100rem;
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  // overflow: hidden;
}

.transfer {
  position: absolute;
  top: 20%;
  width: 100%;
  margin: 0 auto;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* THIS creates the animation! */
  transition: transform 1s;
}

//styles for transfer page 1
.transfer-type__option {
  font-size: 1.7rem;
}

.transfer-link {
  color: white;

  &:hover {
    transform: translateX(-1rem);
    color: rgb(248, 228, 160);
  }
}

.transfer__headings {
  margin-bottom: 5rem;
}

.transfer-type__option {
  display: flex;
  line-height: normal;
}

.transfer__icons {
  fill: white;
  border: 1px solid wheat;
  border-radius: 50%;
  padding: 0.1rem;
  // background-color: rgba(173, 173, 247, 0.329);
  background-color: #b2855177;
  margin-right: 1rem;
}

//styles for transfer page 2
.transfer-page2 {
  padding: 10rem 0 0;
  width: 100%;
}

.beneficiary__container {
  width: 100%;
}
.beneficiary-card {
  width: 100%;
  border: 1px solid wheat;
  background-color: rgba(4, 58, 53, 0.089);
  padding: 1rem 4rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  // color: rgb(40, 5, 236);
  color: wheat;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0.5rem 0.1rem 10rem rgba(8, 8, 8, 0.322);
  cursor: pointer;
}

//styles for transfer page 3
.transfer-page3 {
  padding: 10rem 0 0;
}
.transfer__heading-guide {
  color: rgba(122, 4, 43, 0.699);
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.transfer-info__detail {
  height: 3rem;
  color: white;
  font-size: 1.5rem;
  padding: 0 0 0 1rem;

  &:active,
  &:focus {
    outline: 1px solid wheat;
    border-radius: 2px;
  }
}

// input {
//   &:active,
//   &:focus {
//     outline: 1px solid wheat;
//     border-radius: 2px;
//   }
// }

input[type="number"] {
  // padding: 0 0 0 1rem;
  // color: white;
  // font-size: 1.5rem;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.transfer-info__container {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
}

.transfer-label {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transfer-info__detail {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid wheat;
}

.name-box {
  border: 1px solid $color-whitish-green;
  width: 90%;
  margin: 0 auto 1rem;
  text-align: center;
  border-radius: 5px;
  color: rgb(247, 214, 248);
}

.send-money-1 {
  margin: 4rem auto 0;
  width: 65%;
  height: 4rem;
  font-family: inherit;
  background: linear-gradient(to bottom right, #4bc59279, $color-secondary);
  border: none;
  border-radius: 3px;
  box-shadow: 0 0.01rem 2rem rgba($color-black, 0.4);
  transition: all 1s;
  color: whitesmoke;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.2rem) scale(1.05);
  }

  &:active {
    transform: translateY(0);
  }
}

//styles for transfer page 3
.transfer-page4 {
  padding-top: 10rem;
  line-height: 3;
}

.confirm__container {
  min-width: 95%;
  color: white;
  font-size: 1.7rem;
}

.confirm__info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid wheat;
}

.validator {
  margin: 3rem auto 0;
  color: white;
}

.transfer-text {
}

.action__buttons {
  display: flex;
  justify-content: center;
}

#confirm-pin {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(207, 206, 206, 0.726);
  width: 10rem;
  margin-left: 1rem;

  &:focus,
  &:active {
    border: none;
  }
}

.confirm-transfer {
  width: 70%;
  height: 4rem;
  font-family: inherit;

  background: $color-secondary;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0.01rem 2rem rgba($color-black, 0.4);
  transition: all 1s;
  color: whitesmoke;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &:active {
    transform: translateY(0);
  }
}

.confirm-with-fingerprint {
  border: none;
  text-align: center;
  background-color: transparent;
  width: 30%;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &:active {
    transform: translateY(0);
  }
}

.confirm-fingerprint-icon {
  fill: white;
  border-radius: 5px;
  margin-left: 1rem;
  background-color: $color-secondary;
  box-shadow: 0 0.01rem 2rem rgba($color-black, 0.4);
  height: 4rem;
  width: 100%;
  padding: 0.2rem 0.1rem;
}

.cancel-transfer {
  display: block;
  margin: 4rem auto 0;
  width: 70%;
  height: 4rem;
  font-family: inherit;
  // background: linear-gradient(to bottom right, #f10619b2, #47040a79);
  background: #ec0b1d91;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0.01rem 2rem rgba($color-black, 0.4);
  transition: all 1s;
  font-size: 1.7rem;
  cursor: pointer;

  &-text {
    color: whitesmoke;
  }

  &:hover {
    transform: translateY(-0.2rem);
  }

  &:active {
    transform: translateY(0);
  }
}

//successful transaction page
.successful-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successful-icon {
  border-radius: 50%;
  border: 3px solid $color-secondary;
  padding: 0.2rem;
  fill: white;
}

.successful-text {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  .transfer__container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    left: 0;
    border: none;
    border-radius: 0;
  }

  .transfer-page__nav {
    width: 100%;
    left: 0;
    margin: 0;
    padding: 1rem 2rem 1rem 1rem;
  }
}
