.heading__tertiary {
  font-family: "Saira Condensed", sans-serif;
  text-transform: uppercase;
}

.transfer-heading {
  color: white;
  text-transform: uppercase;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
